@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    /*-fx-font: 14px "Courier New";*/
    /*-fx-font: 14px "Verdana";*/
    -fx-font-family: "Open Sans", sans-serif;
    -fx-font-weight: 500;
}

.button {
    /*-fx-font: 14px 'Consolas' !important;*/
}

.label {
    -fx-text-fill: #2C3E50;
    -fx-font-size: 20px;
}

#textContainer, #textField {
    /*-fx-font-family: "Courier New";*/
    -fx-font: 20px "Courier New";
}

.label-header {
    /*-fx-font-family: "Comic Sans MS";*/
}

.button:hover {
    -fx-opacity: 0.85;
}

.button:pressed {
    -fx-translate-y: 1;
    -fx-opacity: 0.75;
}

.btn-one {
    -fx-background-color: #FFD700;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-font-size: 14px;
}

.btn-two {
    -fx-background-color: #3498DB;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
}

.btn-three {
    -fx-background-color: #1ABC9C;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
}

.btn-danger {
    -fx-background-color: #E74C3C;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
}